body    {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url(../images/2015_the_peanuts_movie-HD.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header  {
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    font-weight: 700;
}

.characters   {
    height: 150px;
}

.backgroundImage    {
    width: 100%;
}

h1  {
  font-size: 32px;
  font-weight: 700px;
  line-height: 75px; 
}